
<html>
<head> 
	<title> Email </title>
</head>
<body>
	<!--<img src="https://www.olympus-imaging.co.in/content/000107506.jpg" class = "center" width="200" height="200" readonly style="display:block; outline:none; margin-left:auto; margin-right: auto; width:30%;"></p>-->

	<img src="https://www.xda-developers.com/files/2018/04/google-inbox-gmail.png" class = "center" width="200" height="200" readonly style="display:block; outline:none; margin-left:auto; margin-right: auto; width:30%;">

	<h1 style="text-align:center">Welcome {{user}}</h1>
</body>
</html>
